# fly.toml app configuration file generated for finances-hlsm2w on 2026-02-19T15:59:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'finances-hlsm2w'
primary_region = 'fra'

[build]

[processes]
app = "npm run start:prod"

[deploy]
  release_command = 'npx prisma migrate deploy'
  release_command = "npm run build"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
