*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 16px;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.flex-center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green{
  color:rgb(60, 83, 75);
};