.list {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 5px;
    background-color: darkcyan;
}

li {
    list-style: none;

    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: azure;
    }
}

a:hover {
    color: rgb(135, 208, 208);
}

.active {
    color: rgba(45, 22, 147);
}